body{
    background-image: url(rokfon.jpg);
    margin: auto 10%;
}
.s{
	color: black;
	text-align: center;
	text-shadow: 2px 5px 3px white;
	padding: 20px;
}
.ph{
	height:5px;
	width: 25px;
}